<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card title="Servers">
        <p align="center">
            <anchor>
                <prev/>
                Back
            </anchor>
        </p>
        <p>
            <% guilds.forEach(g => { %>
                <anchor>
                    <go method="get" href="/wap/g">
                        <setvar name="gname" value="<%= g.name %>"/>
                        <postfield name="token" value="$(token)"/>
                        <postfield name="id" value="<%= g.id %>"/>
                    </go>
                    <%= g.name %>
                </anchor>
                <br/>
            <% }) %>
        </p>
    </card>
</wml>