body {
    margin: 0;
    padding: 0;
    background-color: #112;
    color: #eee;
}

* {
    font-family: "Inter", sans-serif;
}

.main {
    background-color: #223;
    max-width: 640px;
    margin: 0 auto;
    padding: 1em 0.4em;
    overflow-wrap: break-word;
}

.list {
    line-height: 1.5;
}

p {
    margin: 0.2em 0 0.6em 0;
}

input, button, select {
    margin: 0.2em 0 0.1em 0;
}

input[type="text"], input[type="number"], textarea {
    background-color: #223;
    color: #eee;
    border: solid 1px #556;
    max-width: 80%;
}

input[type="submit"], button, select {
    background-color: #223;
    color: #fff;
    border: solid 1px #556;
    border-radius: 2px;
    padding: 0.2em 0.5em;
}

input[type="submit"]:hover, button:hover, select:hover {
    background-color: #334;
}

input[type="submit"]:active, button:active, select:active {
    background-color: #445;
}

.reply {
    color: #99a;
    font-size: 12px;
    margin: 0.3em 0 0 0;
}

a {
    color: #59f;
    font-weight: bold;
    text-decoration: none;
}

.time {
    color: #99a;
    font-size: 12px;
}