<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/wap/style.css">
</head>
<body>
    <div class="main">
        <p>
            Discord client for WAP 1.x browsers (HTML version)
            <br/>
            Developed by gtrxAC
        </p>
        <p>Join our support server: discord.gg/2GKuJjQagp</p>
        <p>github.com/gtrxAC/discord-wap</p>
        <small>User agent: <%= userAgent %></small>
    </div>
</body>
</html>