<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct msgs.</title>
    <link rel="stylesheet" href="/wap/style.css">
</head>
<body>
    <div class="main">
        <% dms.forEach(d => { %>
            <a href="/wap/ch?cname=<%= encodeURIComponent(d.namePrefix + d.name) %>&id=<%= d.id %>">
                <%= d.namePrefix %><%= d.name %>
            </a>
            <br/>
        <% }) %>
    </div>
</body>
</html>