<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord WAP</title>
    <link rel="stylesheet" href="/wap/style.css">
</head>
<body>
    <div class="main">
        <p>An error occurred:</p>
        <p><%= error %></p>
        <button onclick="window.history.go(-1);">Back</button>
    </div>
</body>
</html>