<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servers</title>
    <link rel="stylesheet" href="/wap/style.css">
    <link rel="shortcut icon" href="/wap/icon.png" type="image/png">
</head>
<body>
    <div class="main">
        <% guilds.forEach(g => { %>
            <a href="/wap/g?gname=<%= encodeURIComponent(g.name) %>&id=<%= g.id %>">
                <%= g.name %>
            </a>
            <br/>
        <% }) %>
    </div>
</body>
</html>