<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord WAP</title>
    <meta name="description" content="Discord proxy client for old mobile browsers with Wireless Application Protocol or HTML support">
    <link rel="stylesheet" href="/wap/<%= settings?.cssFile ?? 'style.css' %>">
    <link rel="shortcut icon" href="/wap/icon.png" type="image/png">
</head>
<body>
    <div class="main">
        <p>The token can be found from your browser's dev tools - look online for help. Using an alt account is recommended.</p>
        <p>For easy access, add the page to your bookmarks after logging in.</p>
        
        <div style="text-align: center;">
            <form action="/wap/main">
                <label for="token">Token:</label> <br/>
                <input type="text" name="token" id="token" maxlength="75"> <br/>
                <input type="submit" value="Log in">
            </form>
            <form action="/wap/about">
                <input type="submit" value="About">
            </form>
        </div>
    </div>
</body>
</html>