<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord WAP</title>
    <link rel="stylesheet" href="/wap/<%= settings?.cssFile ?? 'style.css' %>">
    <link rel="shortcut icon" href="/wap/icon.png" type="image/png">
</head>
<body>
    <div class="main list">
        <a href="/wap/gl">Servers</a> <br/>
        <a href="/wap/dm">Direct messages</a> <br/>
        <a href="/wap/set">Settings</a> <br/>
        <a href="/wap">Log out</a>
    </div>
</body>
</html>