<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cname %></title>
    <link rel="stylesheet" href="/wap/style.css">
</head>
<body>
    <form action="/wap/send" method="post" style="text-align: center;">
        <input type="hidden" name="token" value="<%= token %>"/>
        <input type="hidden" name="id" value="<%= id %>"/>
        <label for="text">Your message:</label> <br/>
        <textarea name="text" id="text" cols="30" rows="5" maxlength="2000"></textarea> <br/>
        <input type="submit" value="Send">
    </form>
</body>
</html>
