<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cname %></title>
    <link rel="stylesheet" href="/wap/style.css">
</head>
<body>
    <div class="main" style="text-align: center;">
        <p>Message sent!</p>
        <button onclick="window.history.go(-2);">Back</button>
    </div>
</body>
</html>